html {

}
body {
	text-align:center;
	font-family: 'Roboto', sans-serif;
    color: #777;

}
input[type=button]{
	background:#118bd9;
	color:white;
	width:175px;
	padding:15px;
	border:none;
}

input[type=button]:hover{
	background:#118bd9;
}

input[type=text]{
	padding:15px;
	padding-bottom:15px;
}

input[type=password]{
	padding:15px;
	padding-bottom:15px;
}

ul{
	list-style-type:none;
	margin:0;
	padding:0;
	width:15%;
	background-color:darkgray;
	height:100%;
	position:fixed;
	overflow:auto;
}
li{
	display:block;
	color: white;
	padding:5px;
}

li:hover{
	background-color:gray;
	color:white;
}


.landingvis
{
	position: absolute;

	left:0;
	right:0;
	margin: 0 auto;
	bottom:0;

}



.dropzone {
    border: 2px dashed #0087F7;
    border-radius: 5px;
    background: white;
}

